{% render 'partials/head.liquid' %}

{% comment %} <h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>  {% endcomment %}

<header>
  <nav>
    <h1>Squadpage</h1>
    <img src="/assests/hva-white.svg" alt="Ga naar home" width="50">
  </nav>
</header>

<main>
  <section>
    <h2>Filter de studenten</h2>  
    <form>
      {% for data in colors %}
        <label><input type="checkbox"> {{ data.count.fav_color }}</label> 
      {% endfor %}
    </form>
  </section>

  <section>
    <h2>Overzicht van studenten</h2>
    <ul class="selected-students">
      {% for person in persons %}
        <li class="student-card"  style="--fav-color: {{ person.fav_color }};">
          <article>
            <h3>{{ person.name }}</h3>
            <a href="https://github.com/{{ person.github_handle }}">
              <img src="/assests/link.svg" alt="Ga naar de GitHub pagina van {{ person.name }}" width="10">
              @{{ person.github_handle }}
            </a>
            <p>{{ person.fav_color }}</p>
          </article>
          <img class="student-avatar" src="{{ person.avatar }}" alt="Avatar van student" width="50">
        </li>
      {% endfor %}
    </ul>
  </section>
</main>

<script src="/scripts/client.js"></script>
{% render 'partials/foot.liquid', squads: squads %}